body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 100%; /* Increase the maximum width */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add some padding */
}

.App {
  padding: 20px;
  margin-top: 50px;
}

h1 {
  color: #333;
}

textarea {
  resize: none;
}

button {
  font-size: 2rem;
  width: 100%;
  margin: 2rem auto 1rem;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.alert {
  background-color: #e9f7ef;
}

.medication-list-container {
  background-color: #f9f9f9; /* Light gray background */
  border: 1px solid #ddd; /* Subtle border */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding inside the container */
  margin-top: 20px; /* Space from other sections */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.medication-list-container h5 {
  color: #333; /* Darker text for the title */
  border-bottom: 2px solid #7b7f82; /* Accent color for title underline */
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.list-group-item {
  background-color: #ffffff; /* White background for list items */
  border: 1px solid #ddd; /* Border around individual items */
  border-radius: 4px; /* Rounded corners for items */
  margin-bottom: 10px; /* Space between items */
}

.report-container {
  background-color: #f1f8ff; /* Light blue background for the report */
  border: 1px solid #007bff; /* Blue border to match the theme */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding for text readability */
  margin-top: 20px; /* Space from other sections */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.report-container h1.underline {
  color: #0056b3; /* Darker blue for the title */
  border-bottom: 2px solid #0056b3; /* Accent color for title underline */
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.report-container p {
  font-size: 1rem; /* Slightly larger text for readability */
  line-height: 1.6; /* Increase line height for easier reading */
  color: #333; /* Darker text for better contrast */
}

.form-group-container {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.form-group-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}

.vitals-table {
  font-size: 14px;
  text-align: center;
}

.vitals-table th, .vitals-table td {
  white-space: nowrap;
}

.form-group-container {
  margin-bottom: 20px;
}

.form-group-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.table-container h5 {
  margin-bottom: 15px;
}

.table-container table {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  width: 100%;
}

.table-container th,
.table-container td {
  text-align: center;
  vertical-align: middle;
  min-width: 100px; /* Ensure columns are wide enough for visibility */
}
.table-container {
  margin-top: 20px;
}

.header-row {
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.header-col {
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.data-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.data-col {
  text-align: center;
  padding: 5px;
}

.accordion-header {
  background-color: #f7f7f7;
  padding: 10px;
  font-size: 16px;
}

.accordion-body {
  padding: 10px;
}

button {
  width: 100%;
}